.sidebar {
  width: 70px;
  height: calc(100vh - 70px);
  background: linear-gradient(90deg, #2a004f, #0d0d1a);
  color: white;
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 99;
}

.sidebar.open {
  width: 240px;
}

/* Botão de toggle */
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar.open .toggle-btn {
  transform: rotate(180deg);
}

/* Container do menu */
.menu {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  height: calc(100% - 80px); /* Altura total menos o margin-top */
}

/* Item do menu */
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  margin: 5px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover {
  background: linear-gradient(90deg, #6b01c9, #28282c);
}

/* Ícone do menu */
.menu-icon {
  min-width: 50px;
  font-size: 22px;
  text-align: center;
  transition: color 0.3s ease;
}

/* Texto do menu */
.menu-text {
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.open .menu-text {
  opacity: 1;
}

/* Logout */
.logout {
  margin-top: auto !important; /* Força o item para o final */
  margin-bottom: 20px;
  color: #ff4444;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px !important;
}

.logout:hover {
  background: linear-gradient(90deg, #ff4444, #28282c);
  color: white;
}
